<div class="grid place-items-center" data-controller="search">
  <div class="justify-center">
    <h1 class="text-5xl font-bold mt-0 mb-6">School Search</h1>
    <div class="justify-center text-center content-center">
      <%= form_with url: "/default/search", method: :get, data: { turbo_method: "get", turbo_frame: "results" } do |form| %>
        <%= form.text_field :query, required: true %>
        <div class="pt-2">
          <%= form.button "Search", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full", data: {action: "search#showSpinner"} %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="justify-center">
    <turbo-frame id="results">
      <%= render partial: 'spinner' %>
    </turbo-frame>
  </div>  
</div>

